@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import "js/copy.js";

.green-text {
  color: rgb(114, 203, 187);
  font-family: 'Hind', sans-serif;
}
.green-text:hover {
  color: rgb(253, 253, 253);
  font-family: 'Hind', sans-serif;
}
.line-spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.anti-spacer {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.white-text {
  color: rgb(255, 255, 255);
  font-family: 'Hind', sans-serif;
}
.grey-text {
  color: rgb(201, 205, 205);
  font-family: 'Hind', sans-serif;
}
.justify-text {
  text-align: justify;
}
.blue-background{
   background: rgb(13, 25, 45);
}
.spacer{
    margin-top: 2em;
}

.middle-text {
  margin-right: 25%;
  margin-left: 25%;
}

#webcoderskull{
    position: absolute;
    left: 0;
    top: 25%;
    padding: 0 20px;
    width: 100%;
    
}

canvas{
    height:100vh;
    background-color:rgb(13, 25, 45);
}



  


.uk-navbar-sticky{
    background: rgb(13, 25, 45);
    color: rgb(255, 255, 255);
    font-family: 'Hind', sans-serif;
}